<%= form_with(model: top, local: true) do |form| %>
  <% if top.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(top.errors.count, "error") %> prohibited this top from being saved:</h2>

      <ul>
      <% top.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_area :title, id: :top_title %>
  </div>

  <div class="field">
    <%= form.label :message %>
    <%= form.text_area :message, id: :top_message %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
